body {
    background-color: white;
    color:black;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    }

.center {
    text-align:center;
}

.form-group.required.control-label:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: -10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.divPagosCliente {
    background-color: #98fe98;
    border-style: dotted;
    margin: 4;
}

.divPagos {
    background-color: #df8358;
    border-style: dotted;
}

.divPunteado {
    border-style: dotted;
}